<!DOCTYPE html>
<html lang="en">
  
  <%- include('header') %>
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <p class="lead"></p>
          <br>
        </div>
      </div>
    </div>
    
      <div class="bs-docs-section clearfix">
        <div class="row">
          <div class="col-lg-12">
              <br><br><br><br><br><br>
            <div class="page-header">
              <h1 id="login">Login</h1>
            </div>

            <div class="container">
                <div class="form-divider"></div>
        
                <div class="form-row-group with-icons">
                    <div class="form-row no-padding">
                        <i class="fa fa-envelope"></i>
                        <input type="text" class="form-control" id="userId" placeholder="UserId">
                    </div>
                    <div class="form-row no-padding">
                        <i class="fa fa-lock"></i>
                        <input type="text" class="form-control" id="userPassword" placeholder="Password">
                    </div>
                </div>
                <br>
                <div class="form-row txt-center mt-15">
                    <a href="forgot-password.html" data-loader="show">Forgot password?</a>
                </div>
        
                <div class="form-divider"></div>
                <div class="form-row">
                    <button id="loginBtn" class="btn btn-primary">Login</button>&nbsp;&nbsp;
                    <button id="signupBtn" class="btn btn-primary">Signup</button>
                </div>
        
                <!-- <div class="form-row txt-center mt-15">
                    Don't you have an account yet? <a href="signup.html" data-loader="show">Sign Up</a>
                </div> -->
        
            </div>
          </div>
        </div>

        <br><br><br><br><br><br>

        <%- include('footer') %>
        <script>
          $('#signupBtn').click(function(){
            window.location.href='/signup'
          })
          $('#loginBtn').click(function(){
            var userId = $('#userId').val();
            var userPassword = $('#userPassword').val();
            $.ajax({
                      url: "/user",
                      type : 'POST',
                      data:{
                          userId : userId,
                          userPassword : userPassword,
                      },
                      success: function(data){
                        //alert(data);
                        if(data == '2'){
                        alert("Password is not correct!!!");
                        }
                        else if(data == '3'){
                          alert("there is no Id.");
                        }
                        else{
                          sessionStorage.setItem('jwtToken',data);
                          window.location.href='/menu?store_key=5'
                        }
                      }
                    })
          })
        </script>
    </div>

</html>
