
<!DOCTYPE html>
<html lang="en">
  
  <%- include('header') %>

    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <p class="lead"></p>
            <br>
          </div>
        </div>
      </div>


      <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <br>
              <div class="jumbotron">
                <h1 class="display-3">This is QRcode Test Page!</h1>
                </p>
              </div>
            </div>
          </div>
        </div>

        <%- include('footer') %>
      


    </div>

</html>
