
<!DOCTYPE html>
<html lang="en">
  
  <%- include('header') %>
<body>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <p class="lead"></p>
            <br>
          </div>
        </div>
      </div>


      <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="bs-component">
              <br>
              <div class="jumbotron">
                <p class="display-3">My New Gifticon!</p>
                </p>
                <div id="qrcode"></div>
              </div>
            </div>
          </div>
        </div>

        <%- include('footer') %>
      


    </div>
    <div style="display:none" id="gifticon_key"><%=data%></div>
    <!-- JQuery library file. requared all pages -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <!-- Template global script file. requared all pages -->
    <script type="text/javascript" src="http://localhost:3000/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="http://localhost:3000/js/instascan.min.js"></script>
    <script src="js/qrcode.js"> </script>
<script>
  
  var gifticon_key=document.getElementById("gifticon_key").textContent;
  //console.log(gifticon_key);
  new QRCode(document.getElementById("qrcode"),gifticon_key);
</script>
  </body>

</html>
