<!DOCTYPE html>
<html lang="en">
  
  <%- include('header') %>
  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
          <p class="lead"></p>
          <br>
        </div>
      </div>
    </div>
    
      <div class="bs-docs-section clearfix">
        <div class="row">
          <div class="col-lg-12">
              <br><br>
            <div class="page-header">
              <h1 id="login">Signup</h1>
            </div>

            <div class="container">
                <div class="form-divider"></div>

                
        
                <div class="form-row-group with-icons">
                    <div class="form-row no-padding">
                        <i class="fa fa-user"></i>
                        <input type="text" id="userName" class="form-control" placeholder="Username" value="">
                    </div>
                    <div class="form-row no-padding">
                        <i class="fa fa-lock"></i>
                        <input type="text" class="form-control" id="userId" placeholder="userId" value="">
                    </div>
                    <div class="form-row no-padding">
                        <i class="fa fa-lock"></i>
                        <input type="password" class="form-control" id="userPassword" placeholder="Password" value="">
                    </div>
                    <br>

                    <div class="form-row">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-primary active" >
                          <input type="radio" name="options" id="option1" autocomplete="off" value="2" onclick="clickRadio();"> 일반사용자
                        </label>
                        <label class="btn btn-outline-primary">
                          <input type="radio" name="options" id="option2" autocomplete="off" value="1"> 사업자
                        </label>
                      </div>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <button id="authBtn" class="btn btn-primary"> <i class="fa fa-user"></i> 인증받기</button>
                      <p>인증받기 버튼을 눌러 아래 값을 입력받으세요.</p>
                    </div>
                    <br>
                    <div class="form-row no-padding">
                        <i class="fa fa-user"></i>
                        <input type="text" id="userAccessToken" class="form-control" placeholder="accessToken" value="">
                    </div>
                    <div class="form-row no-padding">
                        <i class="fa fa-user"></i>
                        <input type="text" id="userRefreshToken" class="form-control" placeholder="refreshToken" value="">
                    </div>
                    <div class="form-row no-padding">
                        <i class="fa fa-user"></i>
                        <input type="text" id="userSeqNo" class="form-control" placeholder="userseqno" value="">
                    </div>
                </div>
                <div class="form-divider"></div>
                
                <br>
                <div class="form-row">
                  
                    <button id="signupBtn" class="btn btn-primary">Sign Up</button>
                </div>
                <div class="form-row txt-center mt-15">
                    Already have an account? <a href="/login" data-loader="show">Login</a>
                </div>
        
            </div>
          </div>
        </div>

        <br><br><br><br><br><br>

    </div>
    <%- include('footer') %>
  
    <script>
    
      
      $('#authBtn').click(function(){
        var tmpWindow = window.open('about:blank')
        tmpWindow.location = "https://testapi.openbanking.or.kr/oauth/2.0/authorize?response_type=code&client_id=fn8HtLolk7Xmy60buPvw67PlHk65TeQ4g3BJfZaL&redirect_uri=http://localhost:3000/signup/authResult&scope=login inquiry transfer&state=12345678901234567890123456789012&auth_type=0"
      })

      $('#signupBtn').click(function(){
            var userName = $("#userName").val();
            var userId = $("#userId").val();
            var userPassword = $("#userPassword").val();
            var userAccessToken = $("#userAccessToken").val();
            var userRefreshToken = $("#userRefreshToken").val();
            var userSeqNo = $("#userSeqNo").val();
            var chk_radio = document.getElementsByName('options');
            var authorization = 2;
            // for(var i=0;i<chk_radio.length;i++){
            //   if(chk_radio[i].checked == true){ 
            //     authorization = chk_radio[i].value;
            //   }
            // }
            // console.log("권한 : " + authorization);
            $.ajax({
                url: "/signup",
                type : 'POST',
                data:{
                    userName : userName,
                    userId : userId,
                    userPassword : userPassword,
                    userAccessToken : userAccessToken,
                    userRefreshToken : userRefreshToken,
                    userSeqNo : userSeqNo,
                    authorization : authorization
                },
                success: function(responseResult){
					console.log(responseResult);
					if(responseResult == '1'){
            alert("signup success!!!");
            window.location.href = "/user"
					}
					else{
						alert("failure....");
					}
                 }
            })
        })
    </script>
</html>

